# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Python cache
.pytest_cache/

# Build
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Docker
*.pid

# Data
data/raw/*
data/processed/*

# Keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep